<div class="city-edit">
  <h1>{{title}}</h1>
  <p *ngIf="this.id && !city"><em>Loading...</em></p>
  <div class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div *ngIf="form.invalid && form.errors?.isDupeCity" class="alert alert-danger">
      <strong>ERRO</strong>: Uma cidade com o mesmo <i>nome</i>, <i>latitude</i>, <i>longitude</i> e <i>país</i> já existe.
    </div>

    <div class="form-group">
      <label for="name">Cidade:</label> <br />
      <input type="text" id="name" formControlName="name" required placeholder="Nome da cidade..." class="form-control" />
      <div *ngIf="hasError('name')" class="invalid-feedback">
        <div *ngIf="form.get('name').errors?.required">Nome obrigatório</div>
      </div>
    </div>
    <div class="form-group">
      <label for="lat">Latitude:</label> <br />
      <input type="text" id="lat" formControlName="lat" required placeholder="Latitude..." class="form-control" />
      <div *ngIf="hasError('lat')" class="invalid-feedback">
        <!--<div *ngIf="form.get('lat').errors?.required">Latitude obrigatório</div>-->
        <div *ngIf="form.get('lat').errors?.pattern">
          Latitude requer números positivos ou negativos com até 4 casas decimais
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="lon">Longitude:</label> <br />
      <input type="text" id="lon" formControlName="lon" required placeholder="Longitude..." class="form-control" />
      <div *ngIf="hasError('lon')" class="invalid-feedback">
        <!--<div *ngIf="form.get('lon').errors?.required">Longitude obrigatório</div>-->
        <div *ngIf="form.get('lon').errors?.pattern">
          Longitude requer números positivos ou negativos com até 4 casas decimais
        </div>
      </div>
    </div>
    <div class="form-group" *ngIf="countries">
      <label for="lon">País:</label>
      <br />
      <mat-form-field *ngIf="countries">
        <mat-label>Selecione um país...</mat-label>
        <mat-select id="countryId" formControlName="countryId">
          <mat-option *ngFor="let country of countries" [value]="country.id">
            {{country.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="form.get('countryId').invalid && (form.get('countryId').dirty || form.get('countryId').touched)" class="invalid-feedback">
        <div *ngIf="form.get('countryId').errors?.required">Selecione um país</div>
      </div>

    </div>
    <div class="form-group commands">
      <button *ngIf="id" type="submit" (click)="onSubmit()" [disabled]="form.invalid" class="btn btn-success">Salvar</button>
      <button *ngIf="!id" type="submit" (click)="onSubmit()" [disabled]="form.invalid" class="btn btn-success">Criar</button>
      <button type="submit" [routerLink]="['/cities']" class="btn btn-default">Cancelar</button>
    </div>

    Form debug info panel
    <div class="card bg-light mb-3">
      <div class="card-header">Form Debug Info</div>
      <div class="card-body">
        <div class="card-text">
          <div><strong>Form value:</strong></div>
          <div class="help-block">
            {{ form.value | json }}
          </div>
          <div class="mt-2"><strong>Form status:</strong></div>
          <div class="help-block">
            {{ form.status | json }}
          </div>
        </div>
      </div>
    </div>

    <!-- Form activity log panel -->
    <div class="card bg-light mb-3">
      <div class="card-header">Form Activity Log</div>
      <div class="card-body">
        <div class="card-text">
          <div class="help-block">
            <span *ngIf="activityLog" [innerHTML]="activityLog">
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
