<h1>Hello, world!</h1>
<p>Bem-vindo ao seu novo aplicativo de single-page, construído com:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> e <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> para código do servidor multiplataforma</li>
  <li><a href='https://angular.io/'>Angular</a> e <a href='http://www.typescriptlang.org/'>TypeScript</a> para código do lado do cliente</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> para layout e estilo das páginas</li>
</ul>
<p>Para ajudar você a começar, também configuramos:</p>
<ul>
  <li> <strong> Integração com CLI angular </strong>. No modo de desenvolvimento, não há necessidade de executar <code> ng serve </code>. Ele é executado em segundo plano automaticamente, para que seus recursos do cliente sejam criados dinamicamente sob demanda e a página seja atualizada quando você modificar qualquer arquivo. </li>
  <li> <strong> Construções de produção eficientes </strong>. No modo de produção, os recursos em tempo de desenvolvimento são desativados e sua configuração de <code> dotnet publish </code> invoca automaticamente <code> ng build </code> para produzir arquivos JavaScript compilados e minificados antecipadamente. </li >
</ul>
<p> O subdiretório <code> ClientApp </code> é um aplicativo CLI Angular padrão. Se você abrir um prompt de comando nesse diretório, poderá executar qualquer comando <code> ng </code> (por exemplo, <code> ng test </code>) ou usar <code> npm </code> para instalar mais pacotes nele. </p>
